@charset "UTF-8";
/* Box-sizing을 모든 요소에 적용하여 크기 계산을 통일시킴 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* HTML5 블록 요소들을 일관성 있게 표시함 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* body에 기본 스타일과 여백 제거 */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
}

/* 텍스트박스 여백 제거 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* 리스트 스타일 제거 */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 링크에 밑줄 제거 */
a {
  text-decoration: none;
  color: inherit;
}

/* 이미지의 기본 여백 및 크기 통일 */
img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

/* 폼 요소의 기본 스타일 통일 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

html {
  font-size: max(6px, 0.52083333vw);
}

body {
  font-family: "Pretendard", sans-serif;
  background-color: black;
  color: white;
  position: relative;
}

.img-box {
  line-height: 0;
}
.img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.svg-box {
  line-height: 0;
}

.loading-page {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.loading-page.active {
  visibility: visible;
  opacity: 1;
}

.loading-page > .text-box {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 10;
}
.loading-page > .text-box h2 {
  font-size: 12.5rem;
}

.loading-page > .img-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -20%);
  width: 30rem;
}
.loading-page > .img-box > img {
  -o-object-fit: contain;
     object-fit: contain;
}

.loading-page > .percentage {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 16rem;
  font-weight: 700;
}

@keyframes loadLogo {
  0% {
    transform: translate(0%, 0%);
  }
  99% {
    transform: translate(-44.2%, -45%) scale(0.05721);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translate(-44.2%, -45%) scale(0.05721);
    opacity: 0;
    visibility: hidden;
  }
}
.loading-logo {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  animation: loadLogo 1s 6s 1 both ease-in-out;
}
.loading-logo img {
  -o-object-fit: contain;
     object-fit: contain;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-size: 2rem;
  animation: opacity 1s 6.75s 1 both;
}
.header .header-wrap {
  max-width: 180.5rem;
  height: 9.6rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.header .header-wrap .logo {
  display: flex;
  align-items: center;
}
.header .header-wrap .menu-box-wrap {
  display: flex;
  gap: 8rem;
}
.header .header-wrap .menu-box {
  display: flex;
  gap: 8rem;
}
.header .header-wrap .menu-item {
  display: flex;
  align-items: center;
}
.header .header-wrap .menu-item.language a {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #fff;
  padding: 0.5rem 1.3rem;
  border-radius: 99rem;
}
.header .header-wrap .menu-item.language a svg {
  width: 2rem;
}
.header .header-wrap .nav-btn {
  display: none;
  align-items: center;
}
.header .header-wrap .nav-btn svg {
  width: 30px;
}

.section-1 {
  overflow-x: hidden;
}
.section-1 .iframe-box {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.section-1 .iframe-box iframe {
  width: 100vw;
  height: 56.25vw;
  line-height: 0;
}
.section-1 .swiper-container {
  width: 100%;
  height: 100vh;
}
.section-1 .swiper-container .swiper-slide {
  position: relative;
}/*# sourceMappingURL=style.css.map */