//
//
// 네스팅 3번이상 금지 / 보기 개불편함 ㄹㅇ

// normalize
/* Box-sizing을 모든 요소에 적용하여 크기 계산을 통일시킴 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* HTML5 블록 요소들을 일관성 있게 표시함 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* body에 기본 스타일과 여백 제거 */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
}

/* 텍스트박스 여백 제거 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* 리스트 스타일 제거 */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 링크에 밑줄 제거 */
a {
  text-decoration: none;
  color: inherit;
}

/* 이미지의 기본 여백 및 크기 통일 */
img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

/* 폼 요소의 기본 스타일 통일 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

// stylize
// variable
$font__max: 0.52083333vw;
$font__min: 6px;
// font size
$fontXXL: 8rem;
$fontXL: 6rem;
$fontL: 5.4rem;
$fontXXM: 4rem;
$fontXM: 2.6rem;
$fontM: 2rem;
$fontS: 1.8rem;
$fontXS: 1.4rem;
// color
$bg-color: #7d7d7d;

// html font size
html {
  font-size: max($font__min, $font__max);
}

// body
body {
  font-family: "Pretendard", sans-serif;
  background-color: black;
  color: white;
}

// libs
.img-box {
  line-height: 0;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.svg-box {
  line-height: 0;
}

// loading page
.loading-page {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.loading-page > .text-box {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 10;
  h2 {
    font-size: 12.5rem;
  }
}
.loading-page > .img-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -20%);
  width: 30rem;
  > img {
    object-fit: contain;
  }
}
.loading-page > .percentage {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 16rem;
  font-weight: 700;
}
